<ion-content class="padding">
    <form >
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Username o Correo">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Contraseña" ng-model="data.password">
            </label>
            <label class="item item-input">
                <textarea placeholder="Comments"></textarea>
            </label>
            <label class="item item-input">
                <input type="text" class="button button-block button-calm" value="Login">
            </label>
        </div>
    </form>
</ion-content>