<ion-view view-title="Home">
  <!--<ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>-->
  <ion-content class="padding">
    <h2>Bienvenido Usuario</h2>
    <p>
    Esto es un aplicacion sencilla para medir tus conocimientos en base a un topico especifico, puedes realizar varios test para luego medir tu nivel de aciertos para comprobar cual es tu nivel actual
    </p>
    <p>
      En la pestaña Account encontraras toda la informacion asociada a tu cuenta y podras configurar pequeños detalles con respecto a la misma
    </p>
    <p>
    If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="#/app/playlists" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    </p>
    <p>
      For help sending push notifications, join the <a href="https://apps.ionic.io/signup" target="_blank">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>. We also have other services available.
    </p>
  </ion-content>
</ion-view>
