<ion-view view-title="Home">
  <!--<ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>-->
  <ion-content class="padding-personal">
    <div class="content-home">
        <div>
            <center><h2 class="f">¡Bienvenido {{user.login}}!</h2></center>
            <p>
           Knowledge es una aplicación sencilla que te permite medir tus conocimientos en base a diversos tópicos, puedes realizar varios test para medir tus nivel de conocimiento, A continuación en pequeño recorrido por la aplicación.
            </p>
            <p>
              En la pestaña Home encontrarás toda la información referente a la aplicación en general y cómo está estructurada.
            </p>
            <p>
            En la pestaña Perfil encontrarás toda la información asociada a tu cuenta de usuario y podrás realizar pequeños cambios a la misma.
            </p>
            <p>
              En la pestaña Juega, podrás empezar a probar la aplicación al realizar diferentes tests sobre un temática para medir tus conocimientos ¿Te atreveras?.
            </p>
        </div>
    </div>
    
  </ion-content>
</ion-view>
